

.adena-form-design-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.adena-tab-designer-main {
    padding-top: 10px;
}

.adena-tab-designer-main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ff000056;
    border-radius: 3px;
    padding: 5px;
}

.adena-tab-designer-main-tabs {
    border: 1px solid #ff000056;
    border-radius: 3px;
    padding: 5px;
    min-height: 500px;
}