.adena-tab-designer-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.adena-tab-designer-fields > .adena-designer-fields {
    width: 95%;
    height: 150px;
    margin: 20px 0;
}

.adena-tab-designer-main {
    border: 1px solid #00ff0056;
}

.adena-tab-designer-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}