.adena-designer-header {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    padding: 10px;
}

.adena-designer-header > img {
    width: 40px;
    height: 40px;
}

.adena-designer-header > a {
    color: white;
    cursor: pointer;
}